@import '~antd/dist/antd.css';

.site-layout-content {
  min-height: 400px;
  margin-top: 64px;
}

.center-content {
  text-align: center;
}

.title {
  font-size: 32px;
  font-weight: bold;
}

.price {
  font-size: 28px;
  color: #0b8d87;
}
