@import '~antd/dist/antd.css';

.site-layout-content {
  min-height: 400px;
  margin-top: 64px;
  padding: 48px;
}

.center-content {
  text-align: center;
}

.title {
  font-size: 28px;
  font-weight: bold;
}

.price {
  font-size: 24px;
  color: #0b8d87;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: white;
}

.logo {
  float: left;
  width: 120px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  margin: 16px 24px 16px 0;
  color: #1890ff;
  font-size: 24px;
  font-weight: bold;
}

.search {
  float: left;
  width: 240px;
  height: 32px;
  margin: 16px 24px 16px 0;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .hidden-sm {
    display: none !important;
  }
}

.flex-row {
  display: flex; 
  flex-direction: row;
}

.flex-grow-1 {
  flex-grow: 1;
}

.cart-item {
  height: 120px;
  background-color: white;
  align-items: center;
}

.cart-item img {
  width: auto;
  height: 100%;
}

.cart-item-delete {
  margin: 8px;
}

.cart-item-title {
  margin: 8px;
}

.cart-item-price {
  color: #0b8d87;
  margin: 8px;
  text-align: end;
}

.cart-total {
  display: flex; 
  flex-direction: column;
  align-items: flex-end;
}